<div class="content">
    <fa-icon class="globeIcon" [icon]="faGlobe"></fa-icon>
    <h1>Monument Quiz</h1>
    <p class="errors">{{errors}}</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input">
            <label>email</label>
            <input formControlName="email" type="text">
        </div>
        <div class="input">
            <label>pseudo</label>
            <input formControlName="pseudo" type="text">
        </div>
        <div class="input">
            <label>mot de passe</label>
            <input formControlName="password" type="password">
        </div>
        <div class="input">
            <label>confirmation mot de passe</label>
            <input formControlName="confirmPassword" type="password">
        </div>
        <button class="submit" type="submit" [disabled]="canValide()">Créer un compte</button>
        <button class="link" [routerLink]="['/login']">Se connecter</button>
    </form>
</div>