$primary: #081631;
$accent: #3865BD;
$warn: red;
$light: #E5ECF0;

@font-face {
    font-family: 'nunito';
    src: url('./fonts/Nunito-VariableFont_wght.ttf')  format('truetype');
}

@font-face {
    font-family: 'spaceGrotesk';
    src: url('./fonts/SpaceGrotesk-VariableFont_wght.ttf')  format('truetype');
}