<div class="timer" *ngIf="timer">
    {{ timer.minutes | twoDigit }}:{{ timer.seconds | twoDigit}}
</div>
<google-map #map height="100vh" width="100%" [options]="options" [zoom]=3 (mapDblclick)="setPoint($event)">
    <map-marker 
        *ngIf="marker"
        [position]="marker"
        icon="./assets/images/marker.svg">
    </map-marker>
    <map-marker 
        *ngIf="markerResult"
        [position]="markerResult"
        icon="./assets/images/markerResult.svg">
    </map-marker>
    <map-polyline 
        *ngIf="marker && markerResult" 
        [options]="polylineOptions" 
        [path]="[marker, markerResult]">
        </map-polyline>
</google-map>
<app-monument *ngIf="quiz" class="monument" (sendAnswer)="setAnswer()" (nextQuestion)="setNextQuestion()" [question]="quiz.questions[number]" [marker]="marker"></app-monument>