@import 'theme';

.timer {
    color: $light;
    background-color: $primary;
    position: absolute;
    z-index: 1;
    font-size: 1rem;
    padding: 1rem;
    top: 1rem;
    left: 1rem;
    border-radius: 50px;
    opacity: .8;
}

.monument {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

@media (min-width: 700px) {
    .timer {
        font-size: 2rem;
    }
    .monument {
        bottom: 1rem;
        right: 1rem;
    }
}